.pagination{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}
.footer{
    background: #616161;
    padding: 40px;
}
.footer p{
    color: #fff;
}
.footer a{
    color: #fff;
}

.buttons{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}
.pagination button{
    padding: 12px 24px;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 15px;
    font-weight: 400;
}
.pagination button:hover{
    color: #000;
    background-color: #ccc;
}

.buttons span{
    font-size: 12px;
}
